body {
  background-color: bisque;
  font: small 'Lucida Bright', monospace;
}

form {
  margin: 0.3rem 0.7rem;
  padding: 0.2rem;
}

form > label:not(.radio-btn) {
  display: inline-block;
  width: 5rem;
}

form > input {
  border-radius: 0.4rem;
}

a {
  text-decoration: none;
}

ul, ol {
  padding: 0.4rem 0.6rem;
}
